@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,900&display=swap');

* {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after { 
    content: ""; 
    display: table; 
    clear: both; 
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
    margin-top: 38px;
}

.logo a {
    text-decoration: none;
    color: #515151;  
}

.logo::first-letter {
    color: #4ec6ab;
    font-weight: 900;
}

nav {
    float: right;
    margin-top: 43px;
}

.menu_item {
    list-style: none;
    float: left;
    margin-right: 35px;
}

.menu_item:nth-last-child(1) {
    margin-right: 0px;
}

.menu_item a {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #515151;
}

.menu_item a:hover {
    color: #4ec6ab;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    text-align: center;
    margin-top: 105px; 
    
}

h2::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    margin: 0 auto;
    margin-top: 32px;

}

.products {
    margin-top: 92px;
}

.product-item {
    float: left;
    width: 255px;
    background-color: #e9f0fd;
    margin-right: 30px;
    margin-bottom: 30px; 
}

.product-item:nth-child(4n+4) {
    margin-right: 0px;

}

.product-item:nth-child(n+5) {
    margin-bottom: 0px;

}

.product-info {
    background-color: #323232;
}

.product-item:hover .product-info {
    background-color: #1abc9c;
}
     
.product-name {
    float: left;
    width: 201px;
    height: 40px;
    padding-top: 12px;
    padding-left: 14px;
    margin: 0px;
}

.price {
    float: right;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 44%); 
    padding-top: 12px;
    padding-left: 12px;
}

.product-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.news {
    margin-top: 80px;
}

.news-post {
    float: left;
    width: 350px;
    margin-right: 30px;
}

.news-post:nth-child(3) {
    margin-right: 0px;
}

.news-post h3 {
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    margin-top: 13px;
}

.news-post h3::after {
    display: block;
    content: "";
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin-top: 11px;
}

.news-post p {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #555252;  
    margin-top: 29px;
}

.news-post a {
    display: inline-block;
    width: 160px;
    height: 51px;
    background: #4ec6ab;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: center;
    padding: 17px;
}

.main-button {
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff; 
    text-decoration: none;   
}